/* Main css styles */
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

html {
  font-family: 'Montserrat', sans-serif;
  /* This means for sizes under 576px the body font size will be 10px */
  font-size: 10px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
/* End of reset stuff */

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background: #ebebeb;
  display: inline-block;
  border-radius: 100%;
  opacity: 0.2;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  transition: 0.5s all ease-in-out;
  background-color: #f77f00;
  color: black;
}

.nav-link {
   transition: 0.5s all ease-in-out;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  transition: 0.5s all ease-in-out;
  color: black;
}

.navbar-toggler {
  font-size: 2rem;
}

  @media screen and (max-width: 560px) {
    .navbar-nav {
      background: #000;
      width: 33vw;
      text-align: right;
    }

    .navbar-item,
    .item {
      font-size: calc(1rem + 0.5vw);
    }
  }

  .custom-control-label {
    font-weight: 700;
    font-size: 1.75rem;
    padding-left: 1rem;
  }

  .custom-checkbox.b-custom-control-lg .custom-control-label::before, .custom-checkbox.b-custom-control-lg .custom-control-label::after {
    height: 1.75rem;
    width: 1.75rem;
  }
